#photo{
    background-image: url(https://c.saavncdn.com/artists/Arijit_Singh_002_20230323062147_500x500.jpg);
    background-size: cover;
}

@media (max-width : 667px) {
    #main{
        width: 90vw;
        height: 90vh;
    }
}
